<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<connectionStrings>
		<add name ="sql" connectionString= "Data Source =DESKTOP-417K253; Initial Catalog = BD_Personal; Integrated Security = True; Persist Security Info = False; Pooling = False; MultipleActiveResultSets = False; Encrypt = False; TrustServerCertificate = False"/>
		</connectionStrings>
</configuration>